# Configuration file for Drush archive-dump backup script

## In addition to this configuration file you will need to have a Drush alias file.
## that contains an alias for the site you want to backup. root and uri must be set in the
## drush alias file for the domain to backup. See the example file for more info.
## https://github.com/drush-ops/drush/blob/master/examples/example.aliases.drushrc.php
## Sample Drush alias 'example' for example.com saved as example.alias.drushrc.php

## $aliases['example'] = array(
##   'root' => '/path/to/drupal',
##   'uri' => 'http://example.com',
## );

## Folder where you want backups to be stored locally. No trailing slashes!
localbackupbasepath="/home/username/backups"

## Folder where you want backups to be stored remotely. No trailing slashes!
remotebackupbasepath="/home/remoteusername/backups"

## Remote backup user and server in the form of user@server
## If you have an alias in your ~/.ssh/config file you can use that here too.
## NOTE: We do not plan to handle passwords for login.
## You will need to setup passwordless login using ssh keys.
remotebackupuserandserver="remoteusername@example.org"

## Path to default PHP to used
## We do this as some jailshells do not run through our .bashrc or .profile files
## because of this the environmental variable DRUSH_PHP does not get set.
## We will set it in the script if this variable is set.
defaultpathtophp="/opt/cpanel/ea-php70/root/usr/bin/php"

## Path to default Drush version if none is given on the command line
defaultdrushversion="$HOME/.composer/vendor/bin/drush"
